body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

a {
  text-decoration: none;
  background-color: aqua;
  color: white;
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3730a3;
}

header {
  background-color: #4f46e5;
  color: white;
  padding: 20px;
}

.about {
  background: white;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: #222;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
